*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:rgb(219, 226, 226);
    /* background-image: url("../images/login-bg.jpg"); */
    background-repeat: repeat;
    /* background-size: 100%; */
}
.container{
    width: 100%;
}
.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: green;
    color:white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: lightgreen;
    color: black;
}

.user { 
    position: relative; 
} 
  
.user i{ 
    position: absolute; 
    left: 13px; 
    top: 25px; 
    color: gray; 
} 
  
.pass { 
    position: relative; 
} 
  
.pass i{ 
    position: absolute; 
    left: 13px; 
    top: 25px; 
    color: gray; 
} 

.ezdkLogo{
    width:200px;
    height: 120px;
    margin-bottom: 10px;
}

.form-control:focus {
    border: 2px solid green;
}